<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Datos</title>
</head>
<body>
    <h1>Selecciona los datos a mostrar</h1>
    <form method="get">
        <label for="data_type">Seleccione los datos a mostrar:</label>
        <select name="data_type" id="data_type">
            <option value="almacenamiento" {% if data_type == 'almacenamiento' %}selected{% endif %}>Almacenamiento</option>
            <option value="clima" {% if data_type == 'clima' %}selected{% endif %}>Clima</option>
            <option value="presas" {% if data_type == 'presas' %}selected{% endif %}>Presas</option>
        </select>
        <button type="submit">Mostrar</button>
    </form>

    <hr>

    {% if data_type == 'almacenamiento' %}
        <h1>Datos de Almacenamiento</h1>
        <table border="1">
            <tr>
                <th>ID Almacenamiento</th>
                <th>Clave Presa</th>
                <th>Fecha</th>
                <th>Nivel Agua</th>
            </tr>
            {% for item in almacenamiento_data %}
            <tr>
                <td>{{ item.id_almacenamiento }}</td>
                <td>{{ item.clave_presa.clave_presa }}</td> <!-- Mostramos clave_presa -->
                <td>{{ item.fecha }}</td>
                <td>{{ item.nivel_agua }}</td>
            </tr>
            {% endfor %}
        </table>

        <!-- Paginación para Almacenamiento -->
        <div>
            <span class="step-links">
                {% if almacenamiento_data.has_previous %}
                    <a href="?page_almacenamiento=1&data_type=almacenamiento">&laquo; primera</a>
                    <a href="?page_almacenamiento={{ almacenamiento_data.previous_page_number }}&data_type=almacenamiento">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ almacenamiento_data.number }} de {{ almacenamiento_data.paginator.num_pages }}.
                </span>

                {% if almacenamiento_data.has_next %}
                    <a href="?page_almacenamiento={{ almacenamiento_data.next_page_number }}&data_type=almacenamiento">siguiente</a>
                    <a href="?page_almacenamiento={{ almacenamiento_data.paginator.num_pages }}&data_type=almacenamiento">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

    {% if data_type == 'clima' %}
        <h1>Datos de Clima</h1>
        <table border="1">
            <tr>
                <th>ID Clima</th>
                <th>Clave Presa</th>
                <th>Fecha Lectura</th>
                <th>Almacenamiento</th>
                <th>Temperatura</th>
                <th>Humedad</th>
                <th>Precipitación</th>
                <th>Precipitación Tipo</th>
                <th>Índice UV</th>
                <th>Condiciones Claras</th>
                <th>Condiciones Nubladas</th>
                <th>Condiciones Parcialmente Nubladas</th>
                <th>Condiciones Lluvia</th>
                <th>Condiciones Lluvia Nublada</th>
                <th>Condiciones Lluvia Parcialmente Nublada</th>
            </tr>
            {% for item in datos_clima_data %}
            <tr>
                <td>{{ item.id_clima }}</td>
                <td>{{ item.clave_presa.clave_presa }}</td> <!-- Mostramos clave_presa de la tabla de presas -->
                <td>{{ item.fecha_lectura }}</td>
                <td>{{ item.almacenamiento }}</td>
                <td>{{ item.temp }}</td>
                <td>{{ item.humidity }}</td>
                <td>{{ item.precip }}</td>
                <td>{{ item.preciptype }}</td>
                <td>{{ item.uvindex }}</td>
                <td>{{ item.conditions_clear }}</td>
                <td>{{ item.conditions_overcast }}</td>
                <td>{{ item.conditions_partially_cloudy }}</td>
                <td>{{ item.conditions_rain }}</td>
                <td>{{ item.conditions_rain_overcast }}</td>
                <td>{{ item.conditions_rain_partially_cloudy }}</td>
            </tr>
            {% endfor %}
        </table>

        <!-- Paginación para Clima -->
        <div>
            <span class="step-links">
                {% if datos_clima_data.has_previous %}
                    <a href="?page_datos_clima=1&data_type=clima">&laquo; primera</a>
                    <a href="?page_datos_clima={{ datos_clima_data.previous_page_number }}&data_type=clima">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ datos_clima_data.number }} de {{ datos_clima_data.paginator.num_pages }}.
                </span>

                {% if datos_clima_data.has_next %}
                    <a href="?page_datos_clima={{ datos_clima_data.next_page_number }}&data_type=clima">siguiente</a>
                    <a href="?page_datos_clima={{ datos_clima_data.paginator.num_pages }}&data_type=clima">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

    {% if data_type == 'presas' %}
        <h1>Datos de Presas</h1>
        <table border="1">
            <tr>
                <th>Clave Presa</th>
                <th>Nombre Completo</th>
                <th>Nombre Común</th>
                <th>Estado</th>
                <th>Municipio</th>
                <th>Río</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Altitud</th>
            </tr>
            {% for item in presas_data %}
            <tr>
                <td>{{ item.clave_presa }}</td>
                <td>{{ item.nombre_completo }}</td>
                <td>{{ item.nombre_comun }}</td>
                <td>{{ item.estado }}</td>
                <td>{{ item.municipio }}</td>
                <td>{{ item.rio }}</td>
                <td>{{ item.latitud }}</td>
                <td>{{ item.longitud }}</td>
                <td>{{ item.altitud }}</td>
            </tr>
            {% endfor %}
        </table>

        <!-- Paginación para Presas -->
        <div>
            <span class="step-links">
                {% if presas_data.has_previous %}
                    <a href="?page_presas=1&data_type=presas">&laquo; primera</a>
                    <a href="?page_presas={{ presas_data.previous_page_number }}&data_type=presas">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ presas_data.number }} de {{ presas_data.paginator.num_pages }}.
                </span>

                {% if presas_data.has_next %}
                    <a href="?page_presas={{ presas_data.next_page_number }}&data_type=presas">siguiente</a>
                    <a href="?page_presas={{ presas_data.paginator.num_pages }}&data_type=presas">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</body>
</html>
